.input__theme{
    border-radius: 20px;
    padding-left: 32px;
}
.search-form{
    position: relative;
}
.submit__btn__style{
    border: none;
    background-color: transparent;
    position: absolute;
    top:1px;
    left: 5px;
}

// .light__theme .calendar-inp{
  //   border: 1px solid #111321;
  //   color: rgba(17, 19, 33, 0.4);
  // }
  // .dark__theme .calendar-inp{
  //   border: 1px solid #F4F4F4;
  //   color:rgba(244, 244, 244, 0.4);
  // }
