.not-found__box {
  margin-left: auto;
  margin-right: auto;
  width: 276px;

  @media screen and (min-width: $tablet) {
    width: 560px;
  }

  @media screen and (min-width: $desktop) {
    width: 601px;
  }

  text-align: center;
}

.not-found__text {
  margin-top: 40px;
  margin-bottom: 40px;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  line-height: calc(27 / 20);
  letter-spacing: -0.01em;

  @media screen and (min-width: $tablet) {
    margin-top: 88px;

    font-size: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 121px;
  }
}

.not-found__img {
  @media screen and (min-width: $tablet) {
    width: 560px;
    height: 444px;
  }

  @media screen and (min-width: $desktop) {
    width: 601px;
    height: 478px;
  }
}

.all-news {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 353px);
  }

  @media screen and (min-width: 1280px) {
    grid-gap: 32px;
    grid-template-columns: repeat(3, 395px);
  }
}

.news-wrapper {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
      position: relative;
      width: 736px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1248px;
    }
}
.weather {
  @media screen and (min-width: 768px) {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
    }
}

.news__list li:nth-child(2) {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
      grid-column: 1 / 2;
    }
}

.news__list li:nth-child(3) {
  @media screen and (min-width: 1280px) {
    grid-column: 1 / 2;
  }
}

/////category!!!!!
.news-list__category {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 24px;
  left: 0px;
  top: 40px;

  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;

  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
}

//////list-item
.images {
  position: relative;
  max-width: 480px;
  max-height: 630px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    max-height: 675px;
  }
}

//////image
.news-list__img {
  display: block;
  width: 100%;
  min-height: 395px;
  margin-left: auto;
  margin-right: auto;
}

/////add to favorite
.img-btn {
  position: absolute;
  width: 126px;
  height: 28px;
  top: 355px;
  right: 2%;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  background: #ffffff;
  border-radius: 20px;
  border: none;

  font-size: 12px;
  line-height: 16px;
}
.favorite-false::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66536 2C2.8247 2 1.33203 3.47733 1.33203 5.3c0 1.47133.58333 4.9633 6.32533 8.4933.10286.0626.22094.0957.34134.0957.1204 0 .23848-.0331.34133-.0957C14.082 10.2633 14.6654 6.77133 14.6654 5.3c0-1.82267-1.4927-3.3-3.3334-3.3-1.84064 0-3.3333 2-3.3333 2S6.50603 2 4.66536 2Z' stroke='%234440F7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.img-btn.favorite-true {
  width: 168px;
}
.favorite-true::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66536 2C2.8247 2 1.33203 3.47733 1.33203 5.3c0 1.47133.58333 4.9633 6.32533 8.4933.10286.0626.22094.0957.34134.0957.1204 0 .23848-.0331.34133-.0957C14.082 10.2633 14.6654 6.77133 14.6654 5.3c0-1.82267-1.4927-3.3-3.3334-3.3-1.84064 0-3.3333 2-3.3333 2S6.50603 2 4.66536 2Z' fill='%234B48DA'/%3E%3C/svg%3E");
}

//////add to have read
.add-read {
  display: block;
  position: absolute;
  width: 126px;
  height: 28px;
  top: 355px;
  right: 8px;
}

/////news-list title
.description-title {
  font-family: $mainFF;
  font-style: $fontStyle;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: $blackColor;

  height: 132px;

  margin: 0;

  @media screen and (min-width: $tablet) {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }
}

///////news-list descr
.description-of-news {
  font-family: $mainFF;
  font-style: $fontStyle;
  font-size: 14px;
  line-height: 19px;
  color: $blackColor;
  height: 66px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 22px;
  }
}

////date and read more div
.info-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-of-news {
  font-size: 14px;
  line-height: 19px;

  // color: $dateColor;
}

.read-more-link {
  font-size: 14px;
  line-height: 19px;

  // color: #4440F7;
}
