li{
    list-style-type: none;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    padding: 0;
}



$blackColor: #111321;
$dateColor: #A8A8A8;
$hoverColor: #4440F6;
$whiteColor:#FFFFFF;
$heartColor:#4B48DA;
$buttonColor: rgba(254, 254, 255, 0.3);
$mainFF:'Manrope';
$fontStyle: normal;
