.weather {
  font-family: 'Roboto', sans-serif;
  background-color: #4440f7;
  border-radius: 4px;
  color: #ffffff;
  padding: 32px 36px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: auto;
}

.weather_wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  gap: 11px;
}

.weather_temperature {
  font-size: 64px;
  line-height: 1.17;
  position: relative;
  border-right: 1px solid white;
}

.weather_condition {
  font-size: 36px;
  line-height: 1.17;
  margin: auto;
}
.weather_forecast {
  font-size: 16px;
  width: 151px;
}
.weather_geolocation {
  font-size: 14px;
  width: 121px;
}
.weather_forecast,
.weather_geolocation {
  line-height: 1.17;

  height: 34px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  color: #ffffff;
  transition: all 250ms;
  margin: auto;
}

.day,
.date {
  font-size: 28px;
  line-height: 1.17;
  margin: auto;
}
.date {
  padding-bottom: 18px;
}

.weather_forecast:hover {
  transform: scale(1.03);
}

.weather_image {
  margin: auto;
  padding-bottom: 40px;
}
