<section>
    <form class="filter-form">
        <select name="categories">
            <option value="Categories">Categories</option>
            <option value="Admin">Admin</option>
            <option value="Arts">Arts</option>
            <option value="Automobiles">Automobiles</option>
            <option value="Books">Books</option>
            <option value="Briefing">Briefing</option>
            <option value="Business">Business</option>
            <option value="Climate">Climate</option>
            <option value="Corrections">Corrections</option>
            <option value="Crosswords & Games">Crosswords & Games</option>
            <option value="Education">Education</option>
            <option value="En Español">En Español</option>
            <option value="Fashion">Fashion</option>
            <option value="Food">Food</option>
        </select>
    </form>
</section>
