<ul>
  <li>
    <img src="./images/test.webp" alt="" width="250px" />
    <h2>8 tips for passing an online interview that will help you get a job</h2>
    <p>Add to favorite</p>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself
      with the job prospects offered by these...
    </p>
    <div class="info-more">
      <p class="date">20/02/2021</p>
      <a href="">Read more</a>
    </div>
  </li>
  <li>
    <img src="./images/test.webp" alt="" width="250px" />
    <h2>8 tips for passing an online interview that will help you get a job</h2>
    <p>Add to favorite</p>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself
      with the job prospects offered by these...
    </p>
    <div class="info-more">
      <p class="date">20/02/2021</p>
      <a href="">Read more</a>
    </div>
  </li>
  <li>
    <img src="./images/test.webp" alt="" width="250px" />
    <h2>8 tips for passing an online interview that will help you get a job</h2>
    <p>Add to favorite</p>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself
      with the job prospects offered by these...
    </p>
    <div class="info-more">
      <p class="date">20/02/2021</p>
      <a href="">Read more</a>
    </div>
  </li>
  <li>
    <img src="./images/test.webp" alt="" width="250px" />
    <h2>8 tips for passing an online interview that will help you get a job</h2>
    <p>Add to favorite</p>
    <p>
      Before you start looking for a job, it is useful to familiarize yourself
      with the job prospects offered by these...
    </p>
    <div class="info-more">
      <p class="date">20/02/2021</p>
      <a href="">Read more</a>
    </div>
  </li>
</ul>
