<ul class="news__list">
  <li class="news__item">
    <div class="info-upper">
      <p>Job searching</p>
      <p class="card__text--accept">Have read ✓</p>
      <button class="add-read" type="submit">
        Add to favorite
        <svg class="#" width="24" height="24">
          <use href="#"></use>
        </svg>
      </button>
    </div>
    <img src="./img/placeholder.png" alt="" class="news__image" loading="lazy" width="240px" />
    <div class="info">
      <h2>
        8 tips for passing an online interview that will help you get a job
      </h2>

      <p>Add to favorite</p>
      <p>
        Before you start looking for a job, it is useful to familiarize yourself
        with the job prospects offered by these...
      </p>
    </div>
    <div class="info-more">
      <p class="date">20/02/2021</p>
      <a href="">Read more</a>
    </div>
  </li>
</ul>
